PUBLIC_CLOUDINARY_CLOUD_NAME=your-cloud-name
PUBLIC_CLOUDINARY_API_KEY=your-api-key
PUBLIC_CLOUDINARY_API_SECRET=your-api-secret
CLOUDINARY_URL=cloudinary://your-api-key:your-api-secret@your-cloud-name
PUBLIC_POSTHOG_KEY=your-posthog-key
FORMSPARK_FORM_ID=your-formspark-form-id
RESEND_API_KEY=your-resend-api-key
PUBLIC_WISETACK_MERCHANT_ID=
PUBLIC_HERO_MODE=carousel
HF_TOKEN=your-huggingface-token
IDEOGRAM_API_KEY=your-ideogram-api-key
